extends layout

block content

	form
		div.container
			header.jumbotron.hero-spacer
				h2 Olá, digite seu texto abaixo:
				textarea(id="editor1" name="text" rows=10 cols=80) Aqui você pode <strong>digitar</strong> e <em>formatar</em> seu texto como bem entender. <br> Quando estiver pronto é só clicar no botão salvar logo abaixo.

				script.
					CKEDITOR.replace( 'text' )

				br
				p: input.btn.btn-primary.btn-large(type="button" name= "btnSave" id="btnSave" value="Salvar nova nota")

			div.row
				div.col-lg-12
					h3(align="center") Últimas notas salvas:

			table.table.table-striped
				thead
					th.col-md-1 Número
					th.col-md-7 Texto
					th.col-md-2 Criada em
					th.col-md-2 Ações
				tbody
