<html>
	<head>
		<link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../public/bootstrap/css/heroic-features.css" rel="stylesheet">

		<script type="text/javascript" src="../public/bootstrap/css/bootstrap.min.css"></script>
		<script type="text/javascript" src="../public/bootstrap/css/heroic-features.css"></script>
		<script type="text/javascript" src="../public/bootstrap/js/jquery.js"></script>

		<script type="text/javascript" src="../public/ckeditor/ckeditor.js"></script>
		<script type="text/javascript" src="../public/javascripts/global.js"></script>
	</head>
	<body>
		<title>O Editor</title>

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">O Editor</a>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="navbar-nav navbar-left">
						<li><a href="https://github.com/paulograbin/OEditor">Código fonte</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<form>
			<div class="container">
				<header class="jumbotron hero-spacer">
					<h2>Olá, digite seu texto abaixo:</h2>
					<textarea id="editor1" name="text" rows="10" cols="80">Aqui você pode <strong>digitar</strong> e <em>formatar</em> seu texto como bem entender. <br> Quando estiver pronto é só clicar no botão salvar logo abaixo.
					</textarea>

					<script>CKEDITOR.replace('text')</script>

					<br>
					<p>
						<input type="button" name="btnSave" id="btnSave" value="Salvar nova nota" class="btn btn-primary btn-large">
					</p>
				</header>

				<div class="row">
					<div class="col-lg-12">
						<h3>Últimas notas salvas</h3>
					</div>
				</div>

				<table class="table table-stripped">
					<thead>
						<th class="col-md-1">Número</th>
						<th class="col-md-7">Texto</th>
						<th class="col-md-2">Criada em</th>
						<th class="col-md-2">Ações</th>
					</thead>
					<tbody id="holderTable">

					</tbody>
				</table>
			</div>
		</form>
	</body>
</html>

<!-- doctype
	head

		title="O Editor"
		// Bootstrap Core CSS
		link(href="/../bootstrap/css/bootstrap.min.css", rel="stylesheet")
		// Custom theme
		link(href="/../bootstrap/css/heroic-features.css", rel="stylesheet")
		// jQuery
		script(src='/../bootstrap/js/jquery.js')

		//CKEDITOR
		script(src="/../ckeditor/ckeditor.js")

		// global JS
		script(src="/../javascripts/global.js")

		nav.navbar.navbar-inverse.navbar-fixed-top
			div.container
				div.navbar-header
					button.navbar-toggle
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") O Editor de Texto
				div.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-left
						li: a(href="https://github.com/paulograbin/OEditor") Código fonte
	block content -->
