extends layout

block content
	body
		form 
			div.container
				header.jumbotron.hero-spacer
					h1 Olá, digite seu texto abaixo:
					textarea(id="editor1" name="text" rows=10 cols=80) Aqui você pode <strong>digitar</strong> e <em>formatar</em> seu texto como bem entender. <br> Quando estiver pronto é só clicar no botão salvar logo abaixo.

					script. 
						CKEDITOR.replace( 'text' )

					p: input.btn.btn-primary.btn-large(type="button" name= "btnSave" id="btnSave" value="Save")

		div.row
			div.col-lg-12
				h3(align="center") Últimas notas salvas:

		table.table.table-striped(style="width:60%")(align="center")
			tr
				th.col-md-1 Número
				th.col-md-9 Texto
				th.col-md-2 Ações
			tr(id="trListNotes")
				td.col-md1 Aqui temos que fazer o loop 
				td.col-md9 Aqui temos que fazer o loop
				td.col-md2 Aqui temos que fazer o loop
		
		script.
			$.ajax({
				type: 'POST',
				data: note,
				url: '/listnotes',
				dataType: 'JSON'
			});
			
			function capturaEventos(obj, evt, fn){
				if(obj.addEventListener){
					obj.addEventListener(evt, fn, true);
				}
				else{
					var evento = 'on' + evt;
					obj.attachEvent(evento, fn);
				}
			}

			function cancelaEvento(evt){
				if(evt.stopPropagation) {
					evt.stopPropagation();
					evt.preventDefault();
				} else {
					evt.cancelBubble = true;
					evt.returnValue = false;
				}
			}

			function verificaXmlHttp() {
				var xmlhttp;
				if (window.XMLHttpRequest) {
					xmlhttp = new XMLHttpRequest();
				} else {
					xmlhttp = new ActiveXObject('Microsoft.XMLHTTP');
				}
				return xmlhttp;
			}
	
			capturaEventos(window, 'load', function(evt){
				// Aqui temos que editar pra buscar o id da <td> da nossa tabela
				var a = document.getElementById('trListNotes');
				
				alert(a);
				
				capturaEventos(a, 'click', function(evt){
					var xmlhttp = verificaXmlHttp();

					xmlhttp.onreadystatechange = function(){
						if(xmlhttp.readyState === 4 && xmlhttp.status === 200) {
							var dadosJSON;
							try {
								dadosJSON = JSON.parse(xmlhttp.responseText);
							} catch(e) {
								eval("dadosJSON = (" + xmlhttp.responseText + ");");
							}

							var div = document.getElementById('texto');

							for( var propriedade in dadosJSON ){
								div.innerHTML += propriedade + ' = ';
								
								if (typeof dadosJSON[propriedade] !== 'object') {
									div.innerHTML += dadosJSON[propriedade] + '<br>';
								} else { 
									div.innerHTML += '<br>';
									div.innerHTML += 'Desenvolver: ' + dadosJSON[propriedade][0].;
									div.innerHTML += '<br>';
									div.innerHTML += 'Ler: ' + dadosJSON[propriedade][1].Ler;
									div.innerHTML += '<br>';
									div.innerHTML += 'Beber: ' + dadosJSON[propriedade][2].Beber;
								}
							}				
						}
					}
					
					xmlhttp.open('GET', 'dados.json', true);
					xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
					xmlhttp.send(null);
					
					var evento = evt ? evt : window.event;
					cancelaEvento(evento);
				});
			});