doctype html
html
  head
    title= O Editor
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

		// global JS
		script(src='/javascripts/global.js')

    	// Bootstrap Core CSS
		link(href="/../bootstrap/css/bootstrap.min.css", rel="stylesheet")

		// Custom theme
		link(href="/../bootstrap/css/heroic-features.css", rel="stylesheet")