extends layout

block content
	body
		form 
			div.container
				header.jumbotron.hero-spacer
					h4 Olá, preencha seus dados:
					h4 Usuário: 
					input(id="username" name="username")
					h4 Senha: 
					input(id="password" name="password")
					<br><br>
					p: input.btn.btn-primary.btn-large(type="button" name="login" value="Login" onclick="login()")